body {
  background-color: #D6D6D6;
  background-image: url('images/background.jpg');
  background-repeat: repeat-x;
}

#logo {
  padding-top: 1%;
  display: block;
  margin: 0 auto;
}

section {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  margin: 5% 15%;
}

.section-title {
  font-weight: bold;
  font-size: 2vw;
  align-self: flex-start;
  padding-top: 4%;
  padding-left: 2%;
  margin: 0;
}

h5, p {
  font-family: helvetica;
}

.ecard {
  display: flex;
  margin: 2%;
}

p {
  font-size: 1.2vw;
  margin-left: 4%;
  margin-top: 0;
}

a {
  text-transform: uppercase;
  color: #F63A00;
  display: inline;
  font-weight: bold;
  text-decoration: none;
}

.ecard-image {
  width: 70%;
}

.ecard-image img {
  width: 100%;
}

.ecard-description {
  width: 29%;
}

@media all and (max-width: 414px) {
  section { margin: 5% 1%; }
  .ecard-image { width: 100%; }
  .ecard-description { width: 100%; }

  .ecard {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
    font-size: 100%;
  }

  .section-title {
    font-size: 120%;
  }

}
